
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    font-family: "Press Start 2P";
}

body {
    margin: 0;
    background: url("../img/books.jpeg");
    background-size: cover;
    background-position: center;
}

.container {
    width: 90%;
    margin: 10% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.book-card {
    transition: box-shadow .3s;
    border-radius: 20px;
    border: 2px solid gray;
    background-color: rgb(184, 164, 164);
    max-width: 300px;
    max-height: 350px;
    margin: 5px 20px;
    border-color: gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: blue;
}

h1 {
    max-width: 800px;
    align-items: center;
}

h2 {
    color: blue;
}

h3 {
    color: blue;
}

.book-card-hover {
    box-shadow: 8px 8px rgba(255,255,255,.8);
}

.book-card img {
    max-width: 250px;
}

a {
    text-decoration: none;
    color: white;
    display: inline;
}

.book-show img {
    max-width: 375px;
}

input {
    margin: 20px;
}

.book-form input {
    padding: 20px;
    font-size: 16px;
} 

.book-form h3 {
    font-size: 2em;
} 

#delete, #buy, #add, #update, #home {
    font-size: 1.5em;
    margin: 1% 0;
    border-radius: 10px;
    padding: 10px;
}